:root {
    --light-gray: #f0f0f0;
    --gray-text: #c6c6c6;
    --dark-gray: #878787;
    --dark-text: #4a4a4a;
    --accent-color: #2196F3;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    /* all */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body,
main,
aside,
.inbox,
.chat,
.panel {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    position: absolute;
    top: 0;
    left: 200px;
    width: calc(100% - 180px);
    display: flex;
}


aside {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--light-gray);
    width: 200px;
}

/* ----------- Asside ----------- */
.logo {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
}

.logo__text {
    margin-left: 10px;
}

ul {
    margin: 0;
    padding: 0;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 180px;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
}

.nav {
    margin-top: 20px;
    padding-left: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.nav__text,
.nav__icon {
    color: black;
}

.nav__item {
    position: relative;
    /* gap: 40px; */
    /* padding: 20px 0; */
}

.nav__item:not(:last-child) {
    margin-bottom: 20px;
}

nav__list {
    padding: 0;
}

.nav__icon {
    margin-right: .5rem;
}

.nav__item :hover {
    color: var(--accent-color);
    background: white;
}

.current::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 6px;
    border-radius: 1px;
    right: 0;
    background-color: coral;
}

.projects_title {
    color: var(--gray-text);
    text-transform: uppercase;
    font-size: .7rem;
    margin-top: 5rem;
}

.projects__list {
    margin-right: 20px;
}

.projects__item {
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.projects__item-link {
    color: black;
}

.projects__item:not(:last-child) {
    margin-bottom: 20px
}

.projects__item-icon,
.projects__item-count {
    width: 20px;
    height: 20px;
    border-radius: 30%;
}

.projects__item-icon--red {
    border: 1px solid red;
}

.projects__item-icon--blue {
    border: 1px solid blue;
}

.projects__item-icon--violet {
    border: 1px solid violet;
}

.projects__item-icon--green {
    border: 1px solid green;
}

.projects__item-link {
    margin-right: auto;
}

.projects__item-count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .6rem;
    background: var(--gray-text);
}

.button__menu {
    border: 1px solid var(--dark-gray);
    background: none;
    font-size: .6rem;
    font-weight: 600;
    color: var(--dark-text);
    padding: 5px 5px;
    margin-right: 20px;
    border-radius: 6px;
}

.button:hover {
    cursor: pointer;
}

/* ----------- Inbox ----------- */
.inbox {
    border-right: 1px solid grey;
    width: 250px;
    padding: 20px 20px 0 0;
}

.inbox__button {
    background: none;
    border: 2px solid var(--light-gray);
    border-radius: 6px;
    width: 35px;
    height: 35px;
    font-size: 20px;
}

.inbox__button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.inbox__title-wrp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 1.5rem;
    align-items: center;
}

.inbox__switcher {
    display: flex;
    background: var(--light-gray);
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.inbox__switcher-button {
    width: 50%;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    background: transparent;
    color: var(--dark-gray);
}

.inbox__switcher-button--active {
    background: white;
    color: var(--dark-text);
}

/*     INBOX list     */

.person__item {
    width: 100%;
    display: flex;
    align-items: center;
}

.person__item:not(:last-child) {
    margin-bottom: 10px;
}

.person__avatar {
    position: relative;
}

.person__avatar-pic {
    width: 46px;
    height: 46px;
    background: var(--dark-gray);
    border-radius: 10px;
}

.person__online {
    position: absolute;
    background-color: rgb(31, 233, 31);
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    bottom: 3px;
    right: 0px;
}

.person__column {
    width: 70%;
    margin-left: 10px;
}

.person__header {
    font-size: .8rem;
    margin-bottom: 3px;
}

.person__role {
    font-size: .7rem;
    color: var(--dark-gray);
    margin-bottom: 3px;
}

.person__message {
    font-size: .7rem;
}

.person__count {
    display: flex;
    width: 20px;
    height: 20px;
    padding: 5px;
    color: white;
    font-size: 0.7rem;
    background-color: blue;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.person__item-line {
    width: 100%;
    border-bottom: 2px solid var(--light-gray);
    margin-bottom: 10px;
}

.person__item--active {
    background: var(--light-gray);
    border-radius: 10px;
    padding: 7px;
}

.person__avatar--yellow {
    background: rgb(255, 174, 34);
}

.person__item--offline {
    background: var(--light-gray);
}

.person__item--not-active {
    background: white;
    padding: 7px;
}

.person__item--offline .person__online,
.person__item--not-active .person__count {
    display: none;
}

/* ----------- CHAT ----------- */
.chat-wrapper {
    width: 70%;
    /* width: calc(100% - 180px - 250px - 50px); */
    /* width: auto; */
}

.chat {
    border-right: 1px solid grey;
    display: flex;
    flex-direction: column;
}

.chat__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--light-gray);
}

.chat__left,
.chat__right {
    display: flex;
    align-items: center;
}

.chat__avatar {
    position: relative;
}

.chat__avatar-pic {
    width: 40px;
    height: 40px;
    background: var(--dark-gray);
    padding: 5px;
    border-radius: 50%;
}

.chat__online {
    position: absolute;
    background-color: rgb(31, 233, 31);
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    bottom: 3px;
    right: 0px;
}

.chat__column {
    margin-left: 20px;
}

.chat__right {
    gap: 10px;
}

.chat__top-input {
    position: relative;
    width: 220px;
    padding: 12px;
    color: var(--dark-text);
    background: var(--light-gray);
    border: none;
    border-radius: 10px;
}

.chat__top-input:focus {
    outline: none;
}

/* .input__wrp {
    position: relative;
} */

.input_search {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 225px;
    top: 20px;
}

.chat__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    font-size: 1.5rem;
    color: var(--dark-text);
    background: white;
    border: 1px solid var(--light-gray);
}

.chat__item {
    height: 80px;
}

.chat__item:not(:last-child) {
    margin-bottom: 1rem;
}

.messages {
    padding: 20px 50px;
    overflow-y: scroll;
    background: linear-gradient(120deg, white, var(--light-gray));
    height: 90%;
}

.messages::-webkit-scrollbar {
    display: none;
}

.chat__top,
.chat__bottom {
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 60px;
}

.chat__bottom {
    justify-content: space-between;
    /* padding: 20px; */
    border: 2px solid var(--light-gray);
    background: var(--light-gray);
}

.chat__bottom-input {
    border: none;
    padding: 10px;
    background: var(--light-gray);
    width: 80%;
    border-radius: 10px;
}

.chat__bottom-input:focus {
    outline: none;
}

.chat__down-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.chat__btn--white {
    background-color: white;
}

.chat__btn--grey {
    color: var(--dark-text);
    background-color: var(--dark-gray);
}

.chat__btn--blue {
    background-color: var(--accent-color);
}

.messages__list {
    width: 100%;
}

.messages__item {
    height: 30px;
    /* width:fit-content ; */
    padding: 10px;
}

/* .messages__text {
    display: flex;
    width:fit-content ;
} */

*/ .messages__item:not(last-child) {
    margin-bottom: 1rem;
}


.file__wrp {
    display: flex;
}

.messages__item--small {
    font-size: .6rem;
    color: var(--dark-gray);
}

.messages__item--light {
    color: var(--dark-gray);
}

.messages__item--right {
    /* display: flex; */
    background: white;
    /* justify-items: right; */
    /* max-width: fit-content; */
    border-radius: 3px 3px 3px 0;

    text-align: right;
    /* margin-left:300px ; */
}

.messages__sound {
    display: flex;
    align-items: center;
    gap: 10px;
}

.messages__sound--right {
    justify-content: right;
}

/*  ----------- Panel  ----------- */
.panel {
    position: fixed;
    top: 0;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    padding: 20px;
    width: 50px;
}

.panel__btn {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    font-size: 1.5rem;
    color: var(--dark-text);
    background: white;
    border: 1px solid var(--light-gray);
}

.panel__btn:not(last-child) {
    margin-bottom: 20px;
}

/* 
.panel__btn--up {
    margin-top: 5px;
} */